.App {
  text-align: center;

  background: #780206;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(6, 17, 97, 0.8), rgba(120, 2, 6, 0.8)),  url("https://img.wallpapersafari.com/desktop/1920/1080/8/75/bmYSFe.jpg");  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(6, 17, 97, 0.8), rgba(120, 2, 6, 0.8)), url("https://img.wallpapersafari.com/desktop/1920/1080/8/75/bmYSFe.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

